@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  /* Changed h-screen to min-h-screen and overflow-hidden to overflow-y-auto to allow scrolling */
  @apply bg-nova-900 text-white min-h-screen overflow-y-auto selection:bg-nova-accent selection:text-nova-900;
}